$black: rgb(14, 14, 14);
$primary-font-stack: 'Montserrat', sans-serif;
$secondary-font-stack: 'Fira Sans', sans-serif;

body {
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
 }

.primary-text {
    color: white;
    font-family: $primary-font-stack;
}

img {
    display: inline-block;
    grid-row: inherit;
    grid-column: inherit;
    width: 30vw;
    height: 60vh;
    object-fit: cover;
    margin: 10px;
}