$black: rgb(14, 14, 14);
$black-light: rgb(18, 18, 18);
$primary-font-stack: 'Montserrat', sans-serif;
$secondary-font-stack: 'Fira Sans', sans-serif;

#login-body {
    display: flex;
    margin: 0;
    display: grid;
    grid-template-rows: 5% 95%;
    justify-items: center;
    background-color: $black;
    height: 100vh;
}

#navbar {
    background-color: $black-light;
    grid-row: 1 / 2;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}

.primary-text {
    color: white;
    font-family: $primary-font-stack;
    letter-spacing: 3px;
}

#main-login-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#site-title {
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
}

#login-box {
    display: flex;
    grid-row: 2 / 3;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25vw;
    width: 35vw;
    border: solid 1px gray;
    box-shadow: 0 0 7px gray;
    background-color: $black-light;
}

#login-title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.login-input {
    border: solid transparent;
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-family: $secondary-font-stack;
    font-weight: 300;
    width: 250px;
    height: 25px;
}

#login-btn {
    background-color: white;
    font-family: $secondary-font-stack;
    font-weight: 300;
    opacity: .8;
    border: none;
    height: 2rem;
    width: 10rem;
}

#login-btn:enabled {
    font-weight: 400;
    border: solid transparent;
    background-color: white;
    opacity: 1;
    border: solid 1px gray;
    box-shadow: 0 0 6px gray;
}
