$black: rgb(14, 14, 14);
$black-light: rgb(18, 18, 18);
$primary-font-stack: 'Montserrat', sans-serif;
$secondary-font-stack: 'Fira Sans', sans-serif;

#navbar {
    background-color: $black-light;
    width: 100vw;
    height: 5vh;
    display: grid;
    grid-template-columns: 20% 68% 12%;
    align-items: center;
}

#logo {
    grid-column: 1 / 2;
    font-family: $primary-font-stack;
    color: white;
    margin-left: 10%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 200;
}

#right-nav {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 2%;
}