
.portfolio-main {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%
}

.sliding-images {
    border: 1px solid black;
    height: 60%;
    width: 75%
}

.bio{
    border: 1px solid blue;
}

